<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Craftsy</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
      </head>
      <body>
        <header>
          <img src="/img/logo.png" alt="Logo de Carftsy" />
          <nav class="header__nav">
            <ul class="lista__hacia_la_izquierda">
              <li><a href="">SMARTPHONES</a></li>
              <li><a href="">TABLETS</a></li>
              <li><a href="">COMPUTADORAS</a></li>
            </ul>
            <ul class="lista__hacia__la__derecha">
              <li><a href="./login">LOGIN</a></li>
              <li><a href="./registro">REGISTRO</a></li>
            </ul>
          </nav>
          <nav class="header__nav__mobile">
            <i class="fa-solid fa-bars"></i>
          </nav>
        </header>
    <main class="registro__main">
        <fieldset class="registro__main">
          <img src="/img/logo.png" alt="Logo de Carftsy" />
          <h1>Crear cuenta</h1>
          <p>
            comprá más rápido y lleva el control de tus pedidos
          </p>
            <form action="/users/registro" method="post">
              <div>
                <label for="nombre">Ingrese su nombre </label>
                <input type="text" name="nombre">
              </div>
              <div>
                <label for="apellido">Ingrese su apellido </label>
                <input type="text" name="apellido">
              </div>
                <div>
                <label for="email">Ingrese su email </label>
                <input type="email" name="email" required>
              </div>
              <div>
                <label for="password">Ingrese un pasword </label>
                <input type="password" name="password" required>
              </div>
              <div>
                <label for="nacionalidad"> Nacionalidad</label>
                <select name="nacionalidad" id="">
                    <option value="Arg" selected>Argentina</option>
                    <option value="Arg">Francia</option>
                    <option value="Bra" >Brasil</option>
                    <option value="Col">Colombia</option>
                </select>
              </div>
              <div class="contenor_botones">
                <button type="reset">Borrar</button>
                <button type="submit">Registrarse</button>
              </div>
            </form>
        </fieldset>

    </main>
</body>
</html>